 /* General Body Styles */
body {
    font-family: 'Arial', sans-serif;  
    background: linear-gradient(to bottom, #f9f3e3 0%, #f9f3e3 50%, #e0e6d5 100%);
    color: #5a3e2e;                     
    line-height: 1.6;                   
    margin: 10px;                       
}

a {
    text-decoration: none;               
    color: #5a3e2e;                     
}

/* Heading Styles */
h1 {
    font-family: 'Georgia', serif;      
    color: #e6d4b8;                     
    text-align: center;                 
}

/* Recipe Container */
.recipe-container {
    display: flex;                      
    flex-wrap: wrap;                   
    justify-content: center;            
}

.recipe-item {
    width: 45%;                        
    margin: 10px;                     
    text-align: center;                
}

/* Image Styles */
img {
    padding-top: 0%;
    max-width: 70%;                   
    height: auto;                      
    border-radius: 10px;               
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


/* List Styles */
ul, ol {
    margin-left: 20px;                  
}

/* Strong Text */
strong {
    color: #5a3e2e;                     
}

h2 {
padding-bottom: 1;
margin-left: 1px;
margin-right: 1px;
}

